---

import LayoutInfopage from "../layouts/LayoutInfopage.astro";

const frontmatter = {
    title: "fintag - Nicht Gefunden",
    description: "Die angegebene Seite konnte nicht gefunden werden",
}
---
<LayoutInfopage frontmatter={frontmatter}>
    <h1>Nicht Gefunden</h1>
    <h2>Die Angegeben Seite konnte nicht gefunden werden</h2>
    <p>
        Diese Seite konnte nicht gefunden werden. Eventuell wurde sie gelöscht oder
        hat nie existiert. Überprüfen Sie den link auf Schreibfehler und versuchen es erneut.
    </p>
    <p>
        Alternativ kehren Sie zur <a href={Astro.site}>Startseite</a> zurück.
    </p>
</LayoutInfopage>