---
import {type CollectionEntry, getCollection} from "astro:content";
import Layout from "@layouts/Layout.astro";
import NewsletterList from "@components/NewsletterList.astro";

type newsletterType = CollectionEntry<'newsletter'>;
const allNewsletter  = await getCollection("newsletter") as Array<newsletterType>;
---

<Layout title="fintag - Newsletter Archiv">
    <main class="mx-auto px-4 lg:px-24 container">
        <h1>Newsletter Archiv</h1>
        <NewsletterList newsletters={allNewsletter} />
    </main>
</Layout>
